<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="content">
      {{> header }}
      <!-- <h1>{{ title }}</h1> -->
      <p>This site was created by Nrujal Sharma that uses apis from darksky and mapbox</p>
      <img src="/images/nrujal.jpg" alt="test image">
      <br>
      Created: 20 April 2019
    </div>
    <!-- <p>Created by {{ name }}</p> -->
    {{> footer }}
  </body>
</html>
